openapi: 3.0.0
info:
  title: Option Pricing and Sensitivities
  description: Option pricing using advanced models such as Heston, Extended Merton, and Extended CGMY.
  version: '1'

servers:
  - url: https://api.finside.org/realoptions
    description: Production server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-Key

security:
  - ApiKeyAuth: []

paths:
  /v1/cgmy/calculator/{optionType}/{sensitivity}:
    post:
      summary: Calculator for computing option prices and sensitivities for a CGMY process
      description: Computes European option prices, implied volatilities, and sensitivities at every strike price for an asset that follows an extended CGMY process
      responses: 
        '200':
          description: Option prices and sensitivites
          content:
            application/json: 
              schema:
                $ref: './PostOptionsResponse.json'
              example:
                $ref: './PostOptionsExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
             
      parameters:
        - name: optionType
          in: path
          required: true
          description: The type of option.
          schema:
            type: string
            enum: [call, put]
        - name: sensitivity
          in: path
          required: true
          description: Prices or Greeks
          schema:
            type: string
            enum: [price, delta, gamma, theta]
        - name: include_implied_volatility
          in: query
          description: Whether to include implied volatility in the results.  Defaults to 'false'.  Only applicable for sensitivity='price'
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostCGMYRequestOptions.json'
  /v1/heston/calculator/{optionType}/{sensitivity}:
    post:
      summary: Calculator for computing option prices and sensitivities for a Heston model
      description: Computes European option prices, implied volatilities, and sensitivities at every strike price for an asset that follows a Heston process
      responses: 
        '200':
          description: Option prices and sensitivites
          content:
            application/json: 
              schema:
                $ref: './PostOptionsResponse.json'
              example:
                $ref: './PostOptionsExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      parameters:
        - name: optionType
          in: path
          required: true
          description: The type of option.
          schema:
            type: string
            enum: [call, put]
        - name: sensitivity
          in: path
          required: true
          description: Prices or Greeks
          schema:
            type: string
            enum: [price, delta, gamma, theta]
        - name: include_implied_volatility
          in: query
          description: Whether to include implied volatility in the results.  Defaults to 'false'.  Only applicable for sensitivity='price'
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostHestonRequestOptions.json'

  /v1/merton/calculator/{optionType}/{sensitivity}:
    post:
      summary: Calculator for computing option prices and sensitivities for a Merton model
      description: Computes European option prices, implied volatilities, and sensitivities at every strike price for an asset that follows an extended Merton process
      responses: 
        '200':
          description: Option prices and sensitivites
          content:
            application/json: 
              schema:
                $ref: './PostOptionsResponse.json'
              example:
                $ref: './PostOptionsExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      parameters:
        - name: optionType
          in: path
          required: true
          description: The type of option.
          schema:
            type: string
            enum: [call, put]
        - name: sensitivity
          in: path
          required: true
          description: Prices or Greeks
          schema:
            type: string
            enum: [price, delta, gamma, theta]
        - name: include_implied_volatility
          in: query
          description: Whether to include implied volatility in the results.  Defaults to 'false'.  Only applicable for sensitivity='price'
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostMertonRequestOptions.json'

  /v1/cgmy/density:
    post:
      summary: Calculator for computing probability densities for CGMY process
      description: Computes probability density for an extended CGMY process
      responses: 
        '200':
          description: Density
          content:
            application/json: 
              schema:
                $ref: './PostDensityResponse.json'
              example:
                $ref: './PostDensityExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostCGMYRequestDensity.json'

  /v1/heston/density:
    post:
      summary: Calculator for computing probability densities for Heston model
      description: Computes probability density for a Heston model
      responses: 
        '200':
          description: Density
          content:
            application/json: 
              schema:
                $ref: './PostDensityResponse.json'
              example:
                $ref: './PostDensityExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostHestonRequestDensity.json'

  /v1/merton/density:
    post:
      summary: Calculator for computing probability densities for Merton model
      description: Computes probability density for a Merton model
      responses: 
        '200':
          description: Density
          content:
            application/json: 
              schema:
                $ref: './PostDensityResponse.json'
              example:
                $ref: './PostDensityExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostMertonRequestDensity.json'

  /v1/cgmy/riskmetric:
    post:
      summary: Calculator for computing risk metrics for CGMY process
      description: Computes value at risk and expected shortfall for extended CGMY process
      responses: 
        '200':
          description: Value at risk and expected shortfall
          content:
            application/json: 
              schema:
                $ref: './PostRiskMetricResponse.json'
              example:
                $ref: './PostRiskMetricExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostCGMYRequestRiskMetric.json'
  /v1/heston/riskmetric:
    post:
      summary: Calculator for computing risk metrics for Heston model
      description: Computes value at risk and expected shortfall for a Heston model
      responses: 
        '200':
          description: Value at risk and expected shortfall
          content:
            application/json: 
              schema:
                $ref: './PostRiskMetricResponse.json'
              example:
                $ref: './PostRiskMetricExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostHestonRequestRiskMetric.json'
  /v1/merton/riskmetric:
    post:
      summary: Calculator for computing risk metrics for Merton model
      description: Computes value at risk and expected shortfall for an extended Merton model
      responses: 
        '200':
          description: Value at risk and expected shortfall
          content:
            application/json: 
              schema:
                $ref: './PostRiskMetricResponse.json'
              example:
                $ref: './PostRiskMetricExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostMertonRequestRiskMetric.json'

  /v1/heston/parameters/parameter_ranges:
    get:
      summary: Parameter Constraints
      description: Obtains the constraints that the parameters in the post requests are required to conform to for Heston.
      responses: 
        '200':
          description: Constraints
          content:
            application/json: 
              schema:
                $ref: './GetHestonConstraintsResponse.json'
              example:
                $ref: './GetHestonConstraintsExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
  /v1/cgmy/parameters/parameter_ranges:
    get:
      summary: Parameter Constraints
      description: Obtains the constraints that the parameters in the post requests are required to conform to for CGMY.
      responses: 
        '200':
          description: Constraints
          content:
            application/json: 
              schema:
                $ref: './GetCGMYConstraintsResponse.json'
              example:
                $ref: './GetCGMYConstraintsExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'

  /v1/merton/parameters/parameter_ranges:
    get:
      summary: Parameter Constraints
      description: Obtains the constraints that the parameters in the post requests are required to conform to for Merton.
      responses: 
        '200':
          description: Constraints
          content:
            application/json: 
              schema:
                $ref: './GetMertonConstraintsResponse.json'
              example:
                $ref: './GetMertonConstraintsExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
  /v1/market/parameters/parameter_ranges:
    get:
      summary: Market Constraints
      description: Obtains the constraints that correspond with the market.
      responses: 
        '200':
          description: Constraints
          content:
            application/json: 
              schema:
                $ref: './GetMarketConstraintsResponse.json'
              example:
                $ref: './GetMarketConstraintsExampleResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'