openapi: 3.0.0
info:
  title: Option Pricing and Sensitivities
  description: Option pricing using advanced models such as Heston, Extended Merton, and Extended CGMY.
  version: '1'

servers:
  - url: https://api.finside.org/realoptions
    description: Production server


paths:
  /v1/cgmy/calculator/{optionType}/{sensitivity}:
    post:
      summary: Calculator for computing option prices and sensitivities for a CGMY process
      description: Computes European option prices, implied volatilities, and sensitivities at every strike price for an asset that follows an extended CGMY process
      responses: 
        '200':
          description: Option prices and sensitivites
          content:
            application/json: 
              schema:
                $ref: './PostOptionsResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      parameters:
        - name: optionType
          in: path
          required: true
          description: The type of option.
          schema:
            type: string
            enum: [call, put]
        - name: sensitivity
          in: path
          required: true
          description: Prices or Greeks
          schema:
            type: string
            enum: [price, delta, gamma, theta]
        - name: includeImpliedVolatility
          in: query
          description: Whether to include implied volatility in the results.  Defaults to 'false'.  Only applicable for sensitivity='price'
          schema:
            type: boolean
        - name: x-api-key
          in: header
          schema: 
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostCGMYRequest.json'
  /v1/heston/calculator/{optionType}/{sensitivity}:
    post:
      summary: Calculator for computing option prices and sensitivities for a Heston model
      description: Computes European option prices, implied volatilities, and sensitivities at every strike price for an asset that follows a Heston process
      responses: 
        '200':
          description: Option prices and sensitivites
          content:
            application/json: 
              schema:
                $ref: './PostOptionsResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      parameters:
        - name: optionType
          in: path
          required: true
          description: The type of option.
          schema:
            type: string
            enum: [call, put]
        - name: sensitivity
          in: path
          required: true
          description: Prices or Greeks
          schema:
            type: string
            enum: [price, delta, gamma, theta]
        - name: includeImpliedVolatility
          in: query
          description: Whether to include implied volatility in the results.  Defaults to 'false'.  Only applicable for sensitivity='price'
          schema:
            type: boolean
        - name: x-api-key
          in: header
          schema: 
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostHestonRequest.json'

  /v1/merton/calculator/{optionType}/{sensitivity}:
    post:
      summary: Calculator for computing option prices and sensitivities for a Merton model
      description: Computes European option prices, implied volatilities, and sensitivities at every strike price for an asset that follows an extended Merton process
      responses: 
        '200':
          description: Option prices and sensitivites
          content:
            application/json: 
              schema:
                $ref: './PostOptionsResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      parameters:
        - name: optionType
          in: path
          required: true
          description: The type of option.
          schema:
            type: string
            enum: [call, put]
        - name: sensitivity
          in: path
          required: true
          description: Prices or Greeks
          schema:
            type: string
            enum: [price, delta, gamma, theta]
        - name: includeImpliedVolatility
          in: query
          description: Whether to include implied volatility in the results.  Defaults to 'false'.  Only applicable for sensitivity='price'
          schema:
            type: boolean
        - name: x-api-key
          in: header
          schema: 
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostMertonRequest.json'

  /v1/cgmy/density:
    post:
      summary: Calculator for computing probability densities for CGMY process
      description: Computes probability density for an extended CGMY process
      responses: 
        '200':
          description: Density
          content:
            application/json: 
              schema:
                $ref: './PostDensityResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      parameters:
        - name: x-api-key
          in: header
          schema: 
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostCGMYRequest.json'

  /v1/heston/density:
    post:
      summary: Calculator for computing probability densities for Heston model
      description: Computes probability density for a Heston model
      responses: 
        '200':
          description: Density
          content:
            application/json: 
              schema:
                $ref: './PostDensityResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      parameters:
        - name: x-api-key
          in: header
          schema: 
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostHestonRequest.json'

  /v1/merton/density:
    post:
      summary: Calculator for computing probability densities for Merton model
      description: Computes probability density for a Merton model
      responses: 
        '200':
          description: Density
          content:
            application/json: 
              schema:
                $ref: './PostDensityResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      parameters:
        - name: x-api-key
          in: header
          schema: 
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostMertonRequest.json'

  /v1/cgmy/riskmetric:
    post:
      summary: Calculator for computing risk metrics for CGMY process
      description: Computes value at risk and expected shortfall for extended CGMY process
      responses: 
        '200':
          description: Value at risk and expected shortfall
          content:
            application/json: 
              schema:
                $ref: './PostRiskMetricResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      parameters:
        - name: x-api-key
          in: header
          schema: 
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostCGMYRequest.json'
  /v1/heston/riskmetric:
    post:
      summary: Calculator for computing risk metrics for Heston model
      description: Computes value at risk and expected shortfall for a Heston model
      responses: 
        '200':
          description: Value at risk and expected shortfall
          content:
            application/json: 
              schema:
                $ref: './PostRiskMetricResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      parameters:
        - name: x-api-key
          in: header
          schema: 
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostHestonRequest.json'
  /v1/merton/riskmetric:
    post:
      summary: Calculator for computing risk metrics for Merton model
      description: Computes value at risk and expected shortfall for an extended Merton model
      responses: 
        '200':
          description: Value at risk and expected shortfall
          content:
            application/json: 
              schema:
                $ref: './PostRiskMetricResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      parameters:
        - name: x-api-key
          in: header
          schema: 
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './PostMertonRequest.json'

  /v1/{model}/parameters/parameter_ranges:
    get:
      summary: Parameter Constraints
      description: Obtains the constraints that the parameters in the post requests are required to conform to.
      responses: 
        '200':
          description: Constraints
          content:
            application/json: 
              schema:
                $ref: './GetConstraintsResponse.json'
        '400':
          description: Error for incorrect request
          content:
            application/json: 
              schema:
                $ref: './ErrorResponse.json'
      parameters:
        - name: model
          in: path
          required: true
          description: The model to use.
          schema:
            type: string
            enum: [cgmy, merton, heston]
        - name: x-api-key
          in: header
          schema: 
            type: string
          required: true